.container {
    margin: 50px 0;
}

.card{
    margin: 2% 0 !important;
    min-width: 30vh;
}
.infected{
    border-bottom: var(--infectCardColor);
}
.recovered{
    border-bottom: var(--recoveredCardColor);
}
.deaths{
    border-bottom: var(--deathCardColor);
}

hr{
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 20px 20px -20px #333;
}

.textContainer{
    display: flex;
    justify-content: space-around;
}


@media (max-width: 500px){
    .card{
        margin: 2% 0 !important;
        max-width: 50vh;
    }
}