.App {
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(12, 45, 59);
  color: white;
  
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

h1.summary{
  width: 40%;
  display: flex;
  justify-content: space-around;
  float: left;
  padding: 1em;
  min-width: 50vh;
  margin-left: 4vw;
}