:root {
  --bg:  #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms; 
  --infectCardColor: 10px solid rgba(255, 0, 0, 0.5);
  --recoveredCardColor: 10px solid rgba(0,255,0, .5);
  --deathCardColor: 10px solid rgba(0, 0, 0, 0.5);
}

body{
  background-color: #ebedee;
}

.App{
  margin-top: -8px;
  text-align: center;
  width: 100%;
}