nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: var(--navHeight);
    background: rgb(12, 45, 59);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 4px 10px -2px gray; 
  }
  
  .navBuffer{
    min-height: var(--navHeight);
    display: block;
  }
  
  .nav-links{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }
  